<div class="container d-flex justify-content-between userInfo-info-cont">

    {{log userInfo}}

    <h2 class="yp-head">
        Welcome back, {{userInfo.username}}!
    </h2>
        <p class="yp-info">Age: {{userInfo.age}}</p>
        <p class="yp-info">Weight: {{userInfo.gender}}</p>
        <p class="yp-info">Height: {{userInfo.height}}</p>
        <p class="yp-info">Weight: {{userInfo.weight_in_lbs}}</p>
</div>

<div class="container text-center counter-cont">
    <span>
        <h4 class="workout-counter">Workouts with Rise2Challenge: <p class="counter">3</p></h4>
    </span>
</div>

<div class="container text-center">
    <div class="d-flex justify-content-between">
        <h4 class="result-head">Your Saved Workout's</h4>
        <span class="new-workout-span"><p>Want to create a new workout?<a href="/workout"> Click here!</a></p></span>
    </div>
    {{#each workout}}

    {{> yp.workout}}

    {{/each}}
</div>